
  <div *ngIf="success" class="alert alert-success" role="alert">
    {{success}}
  </div>

<tsktable *ngIf="baseItems" [records]="baseItems" [caption]="'Monthly Performance Review'" [settings]="projectSettings"
 [searchText]="searchText" [slash]="'readtasktype'" [loading]="loading" [sn]="true" [api]="'task'" [name]="apis" [taskType]="type" [routePage]="routePage">
</tsktable>


<div class="col-12 mt-4">

  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    {{error}} <a (click)=" read('task')" class="alert-link">Click to retry</a>
  </div>

</div>

