
  <div *ngIf="success" class="alert alert-success" role="alert">
    {{success}}
  </div>

<tsktable *ngIf="baseItems" [records]="baseItems" [caption]="'Other meetings'" [settings]="projectSettings"
 [searchText]="searchText" [loading]="loading"  [sn]="true" [api]="'task'"  [name]="apis" [routePage]="routePage" [taskType]="taskType" [slash]="'readtasktype'">
</tsktable>


<div class="col-12 mt-4">

  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    {{error}} <a (click)=" read('item')" class="alert-link">Click to retry</a>
  </div>

</div>