
  <div *ngIf="success" class="alert alert-success" role="alert">
    {{success}}
  </div>

<tsktable *ngIf="baseItems" [records]="baseItems" [caption]="'Executive Management Meeting'" [settings]="projectSettings"
 [searchText]="searchText" [slash]="'readtasktype'" [loading]="loading"  [sn]="true" [api]="'task'" [taskType]="type"  [name]="apis" [routePage]="routePage">
</tsktable>


<div class="col-12 mt-4">

  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    {{error}} <a (click)=" read('item')" class="alert-link">Click to retry</a>
  </div>

</div>