<div class="container mt-5 ">


  <div class="row" >
    <div class="col-md-4"  >
      <div class="card-counter success">
        <fa-icon size="4x" [icon]="icon" [spin]="true"></fa-icon>
        <span class="count-numbers h1-responsive font-weight-bold">{{p}}</span>
        <span class="count-name">Pending Quest</span>
      </div>
    </div>
    <div class="col-md-4" >
      <div class="card-counter primary">
        <fa-icon size="4x"    [icon]="icon2"></fa-icon>
        <span class="count-numbers h1-responsive font-weight-bold ">{{a}}</span>
        <span class="count-name">Approved Quest</span>
      </div>
    </div>





    <div class="col-md-4">
      <div class="card-counter danger">
        <fa-icon size="4x"   [icon]="icon3"></fa-icon>
        <span class="count-numbers h1-responsive font-weight-bold">{{r}}</span>
        <span class="count-name">Rejected Quest</span>
      </div>
    </div>
  </div>
</div>

