<nav class="h-100 d-inline-block">
  <div class="sidebar-sticky">

    <!-- <ul class="nav flex-column">
      <li class="nav-item" [routerLink]="'dashboard'" routerLinkActive="active">
        <a class="nav-link" >
          <fa-icon size="1x" [icon]="icon"></fa-icon>
          Dashboard

        </a>
      </li>

    </ul> -->

    <ul class="nav flex-column" *ngFor="let item of Menu" >
      <li class="nav-item" [routerLink]="item.link" routerLinkActive="active">
        <a class="nav-link" >
          <!-- <fa-icon size="1x" [icon]="item.icon"></fa-icon> -->

          {{item.title}}


        </a>
      </li>

      </ul>
      
  </div>
</nav>
