<nav class="h-100 d-inline-block">
  <div class="sidebar-sticky">

    <ul class="nav flex-column">
      <li class="nav-item" [routerLink]="'taskupdate'" routerLinkActive="active">
        <a class="nav-link" >
          Task Update


        </a>
      </li>

    </ul>

    <ul class="nav flex-column" *ngFor="let item of Menu" >
      <li class="nav-item" [routerLink]="item.link" routerLinkActive="active">
        <a class="nav-link" >
          <!-- <fa-icon size="1x" [icon]="item.icon"></fa-icon> -->

          {{item.title}}


        </a>
      </li>

      </ul>
      
  </div>
</nav>
